SESSION_SECRET=
SUPABASE_DATABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
TAREAS_PASSWORD_1A=
TAREAS_PASSWORD_2A=
TAREAS_PASSWORD_3A=
TAREAS_PASSWORD_4A=
TAREAS_PASSWORD_5A=
TAREAS_PASSWORD_6A=
TAREAS_TEACHER_PASSWORD=